@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #101010;
}

.glow-effect {
    position: relative;
    color: white;
    text-align: center;
}

.glow-effect::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 135%;
    height: 135%;
    background: radial-gradient(circle, #a855f7 0%, transparent 30%);
    border-radius: 50%;
    filter: blur(25px);
    z-index: -1;
}

.arrow-move {
    transition: transform 0.3s ease;
}

.button1:hover .arrow-move {
    transform: translateX(5px);
}